/*
 * Customization Variables
 */

$accent: #0A0908;
$accent: #0A0908;
$accent: #EAE0D5;
$image-size: 120px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
